
pytest
pyarrow<19.0.0         # pour éviter l’incompatibilité
pytest
flake8
jinja2
apache-airflow
#apache-airflow-providers-snowflake
#apache-airflow-providers-airbyte
snowflake-connector-python
aiohttp
flask_appbuilder