
pytest
pyarrow<19.0.0         # pour éviter l’incompatibilité
flake8
jinja2
apache-airflow
aiohttp
flask_appbuilder
apache-airflow-providers-snowflake
apache-airflow-providers-airbyte
snowflake-connector-python
